.hero {
  max-width: 1200px;
  height: 90vh;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
    width: 220px;
    border: 8px solid #191919;
    border-radius: 200px;
}

.hero h1 {
    font-size: 65px;
    text-transform: uppercase;
}

.hero h2 {
    font-size: 28px;
    margin-top: 10px;
}

/* media query */
@media only screen and (max-width: 600px) {
    .hero img {
        width: 180px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 20px;
    }
}