.skills {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 20px;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-heading {
  font-size: 35px;
}

.skills-data-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.skills-data {
  width: 250px;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(42, 41, 41, 0.9);
}

.skills-data img {
  width: 50px;
  margin-bottom: 10px;
}

/* media query */
@media only screen and (max-width: 1100px) {
  .skills-data-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 820px) {
  .skills-data-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 570px) {
  .skills-data-wrapper {
    grid-template-columns: 1fr;
  }
}