.sticky {
    background-color: rgba(13, 14, 14, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo-area {
    flex-grow: 1;
}

.logo-area img {
    width: 55px;
}

.header-lists {
    display: flex;
}

.mobile-menu {
    display: none;
}

.header-lists li {
    margin: 0 15px;
}

.header-lists li a {
    color: white;
}

/* media query */
@media only screen and (max-width: 570px) {
    .header {
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: black;
    }

    .nav {
        position: relative;
    }
    
    .header-lists {
      display: none;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .close-icon {
        margin-right: 15px;
    }

    .show-lists {
        display: block;
        position: absolute;
        top: 70px;
        left: 5px;
    }

    .show-lists li {
        margin-bottom: 20px;
    }

  }