.about-content {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: lightgray;
}

.about-content-left {
  width: 50%;
}

.about-content-left img {
  width: 80%;
}

.about-content-right {
  width: 50%;
}

.about-content-right h2 {
  font-size: 35px;
  color: tomato;
}

.about-content-right p {
  line-height: 27px;
}

.about-me-area h2 {
  margin-bottom: 10px;
}

.about-education {
  margin-top: 10px;
}

.about-training-area {
  margin-top: 35px;
}

.about-training-area ul {
  margin-top: 10px;
  margin-left: 20px;
}

.about-address {
  margin-top: 35px;
}
.about-address h4 {
  margin-bottom: 5px;
}

.about-address h4 a {
  color: lightgray;
}

.download-cv {
  color: lightgray;
  margin-top: 15px;
  display: inline-block;
}

.download-cv button {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
}