.home-content {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 45%;
  position: relative;
}

.home-content > div {

}

.home-content h1 {
    font-size: 80px;
}

.home-content h2 {
    font-size: 40px;
    margin-top: 10px;
}

.get-touch-btn {
    margin-top: 30px;
    padding: 18px 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: tomato;
    color: white;
    border-radius: 50px;

}