* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./images/banner.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

button {
  cursor: pointer;
}

.highlight {
  color: tomato;
}

.highlight2 {
  color: lightgray;
}