@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(60, 59, 59);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.highlight {
  color: tomato;
}

.highlight2 {
  color: lightgray;
}