* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

button {
  cursor: pointer;
}

.highlight {
  color: tomato;
}